@model WhereShouldWeEatLunch.APIs.FourSquare.Venue

<!DOCTYPE html>

<html>
<head>
    <title>@Model.name</title>
    @section js
    {
        <script src="@Url.Content("~/Scripts/swipe.js")" type="text/javascript"></script>  
        <script>
            $(document).ready(function() {
                window.mySwipe = new Swipe(
                    document.getElementById('slider')
                );
            });
            
        </script> 
    }
</head>
<body>
    <h1><a href="@Model.url">@Model.name</a></h1>
    <div>
        <a href="http://maps.google.com/?daddr=@Model.location.lat,@Model.location.lng">@Model.location.address</a>
    </div>
    <div>
        @Html.LabelFor(x=>x.rating,"Rating:")
        @Html.DisplayFor(x=>x.rating)    
    </div>
    @if(Model.hours != null)
    {
        <section id="hoursDetails">
            <div>
                @Html.DisplayFor(x => x.hours.status)
            </div>   
            <ul>
                @foreach(var timeFrame in Model.hours.timeframes)
                {
                    <li>
                        <span>@timeFrame.days</span>
                        <ul>
                        @foreach(var open in timeFrame.open)
                        {
                            
                                <li>
                                    <span>Open: @open.renderedTime</span>
                                </li>
                        }
                        @foreach(var seg in timeFrame.segments)
                        {
                            
                                <li>
                                    <span>@seg.label: @seg.renderedTime</span>
                                </li>
                        }
                        </ul>
                    </li>
                }
            </ul>
        </section>
    }
    @if (Model.menu != null)
    {
        <div>
            <a href="@Model.menu.mobileUrl">Menu</a>
        </div>
    }
    <div id="slider">
        <ul>
        @foreach(var tip in Model.allTips.OrderByDescending(x=>x.likes.count).Take(5))
        {
            <li>
                @tip.text
                @if(!String.IsNullOrEmpty(tip.photourl))
                {
                    <img src="@tip.photourl"/>
                }
                
            </li>
        }
        </ul>
    </div>
</body>
</html>
